<%= form_for @search, :url => admin_pages_path, :html => {:method => :get, :class => 'search'} do |f| %>
<div>
  <h3><%= t('pages.search.title') %></h3>
  <div class='top'>
    <%= f.label :title_or_content_contains, t('pages.search.page_title'), :class => 'desc' %>
    <%= f.text_field :title_or_content_contains, :size => "20" %>
  </div>
  <div class='top'>
    <label>&nbsp;</label>
    <p>
      <%= f.submit t('pages.search.submit') %>
    </p>
  </div>
</div>
<% end %>