<%= form_tag admin_translations_path do %>
<table>
  <tr>
    <th><%= t('translations.key') %></th>
    <th><%= t("translations.locales.#{params[:language]}")%></th>
    <th></th>
  </tr>
  <% @translations.each_with_index do |translation, index| %>
  <tr id="translation-<%= translation[:id] %>">
    <td>
      <%= display_translation_if_exist(translation) %>
      <span class='key'><%= translation.key %></span></td>
    <td>
      <%= hidden_field_tag "translations[#{index}][id]", translation[:id] %>
      <%= hidden_field_tag "translations[#{index}][locale]", translation[:locale] %>
      <%= hidden_field_tag "translations[#{index}][key]", translation[:key] %>
      <%= hidden_field_tag "translations[#{index}][destroy]", false, :class => 'translation-destroy' %>
      <%= text_area_tag "translations[#{index}][value]", translation[:value] %>
    </td>
    <td class="actions"><%= link_to t('translations.delete'), admin_translation_path(translation[:id], :language => params[:language]), :method => :delete, :class => :delete, :remote => true %></td>
  </tr>
  <% end %>
  <tr>
    <td colspan="3">
      <%= submit_tag t('translations.submit') %>
      <%= link_to t("cancel"), admin_translations_path %>
    </td>
  </tr>
</table>
<% end %>
</div>