<div id="translations">
  <h1><%= t('translations.index.title') %></h1>

  <p>
    <%= t('translations.available_locales')%> : <%= display_available_locales %>
  </p>

  <h2><%= t('translations.pending') %></h2>
  <% if @pending_translations.size > 0 %>
  <ul class='pending'>
  <% @pending_translations.each do |translation| %>
    <li>
    <%= link_to t("translations.locales.#{translation[0]}"), admin_pending_translations_path(:language => translation[0], :type => 'pending') %>
    <span class="count"><%= translation[1].size %></span>
    </li>
  <% end %>
  </ul>
  <% else %>
  <p><%= t('translations.no_pending') %></p>
  <% end %>

  <h2><%= t('translations.all') %></h2>
  <% if @all_translations.size > 0 %>
  <ul class='all'>
  <% @all_translations.each do |translation| %>
    <li>
      <%= link_to t("translations.locales.#{translation[0]}"), admin_all_translations_path(:language => translation[0]) %>
      <span class="count"><%= translation[1].size %></span>
      </li>
  <% end %>
  </ul>
  <% else %>
  <p><%= t('translations.no_translation') %></p>
  <% end %>
  
  <p>
    <%= link_to t('translations.dump.link'), dump_admin_translations_path, :confirm => t('translations.dump.confirm'), :class => 'button' %>
  </p>
  
</div>
