<div id="nav">
  <ul class="left">
    <li><%= link_to t('admin.nav.pages'), admin_pages_path %></li>
    <li><%= link_to t('admin.nav.categories'), admin_categories_path %></li>
    <li><%= link_to t('admin.nav.translations'), admin_translations_path %></li>
    <li><%= link_to t('admin.nav.media'), admin_images_path %></li>
  </ul>
  <ul class="right">
    <li><%= link_to t('admin.nav.users'), admin_users_path %></li>
  </ul>
</div>