<div id="toplinks">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
  <% if user_signed_in? %>
    <%= t('admin.toplinks.signed_in_as', :user => current_user.email) %>.
    <%= link_to t('admin.toplinks.sign_out'), destroy_user_session_path %> 
  <% else %> 
    <%= link_to t('admin.toplinks.sign_up'), new_user_registration_path %> <%= t('.or') %> <%= link_to t('admin.toplinks.sign_in'), new_user_session_path %> 
  <% end %>
  &nbsp;<a href='/'><%= t('admin.toplinks.website_home') %></a>
</div>