<html>
  <head>
    <title>:: Admin ::</title>
    <%= stylesheet_link_tag ['reset', 'font', 'form', 'admin'] %>
    <%= javascript_include_tag ['jquery', 'jquery-ui.min', 'autoresize.jquery.min', 'rails', 'admin'] %>
    <%= csrf_meta_tag %>
    
    <%= yield(:head) %>
    
  </head>
  <body>
    <div id="container"><div id="wrapper">
      <%= render 'shared/toplinks' %>
      <%= render 'admin/nav' %>
      <div id="main">
        <%= render 'shared/flashbox' %>
                
        <%= yield %>
      </div>
    </div></div>
  </body>
</html>